:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  font-size: 16px;
}
.container {
  padding: 0 30px;
}
/* start grid system */
@media (min-width: 567px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media (min-width: 990px) {
  .container {
    padding: 0 100px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 150px;
  }
}
/* end grid system */
body {
  background-color: var(--Very-Light-Gray);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
main {
  overflow: hidden;
}
header {
  background-color: var(--White);
  position: relative;
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  position: relative;
}
header nav ul {
  display: flex;
  gap: 20px;
  width: 100%;
}
header nav ul li {
  width: 65px;
  text-align: center;
}
header nav ul li a {
  color: var(--Grayish-Blue);
  padding: 35px 0 30px;
  transition: 0.3s linear;
  position: relative;
}
header nav ul li a:hover {
  color: var(--Dark-Blue);
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  width: 100%;
  height: 0px;
  transition: 0.1s linear;
}
header nav ul li a:hover::after {
  height: 3px;
}
#special {
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  color: var(--White);
  padding: 15px 40px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#special::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: hsl(0deg 0% 100% / 50%);
  width: 0;
  height: 100%;
  transition: 0.3s linear;
}
#special:hover::after {
  width: 100%;
}
header .buttons {
  display: none;
}
header .buttons img {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  header nav {
    background-color: var(--White);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    border-radius: 4px;
    opacity: 0;
    z-index: -1;
    transition: 0.3s linear;
  }
  header nav.active {
    top: 115px;
    opacity: 1;
    z-index: 1000;
  }
  header nav ul {
    flex-direction: column;
    gap: 0;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li a {
    color: var(--Dark-Blue);
    padding: 15px;
  }
  header nav ul li:first-child a {
    padding-top: 20px;
  }
  header nav ul li:last-child a {
    padding-bottom: 20px;
  }
  header #special {
    display: none;
  }
  header .buttons,
  header .buttons .hamburger {
    display: block;
  }
  header .buttons .hamburger.active {
    display: none;
  }
  header .buttons .hamburger.active + .close {
    display: flex;
  }
}
.landing .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 78vh;
}
.landing .info {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: -600px;
}
.landing .info.active {
  left: 0;
  transition: 1s linear;
}
.landing .info h1 {
  color: var(--Dark-Blue);
  margin: 0;
  font-size: 50px;
}
.landing .info p {
  color: var(--Grayish-Blue);
  line-height: 1.6;
}
.landing .image {
  position: relative;
  width: 100%;
}
.landing .image img:first-child {
  position: absolute;
  top: -260px;
  right: -1400px;
}
.landing .image img:first-child.active {
  right: -600px;
  transition: 1s linear;
}
.landing .image img:last-child {
  position: absolute;
  top: -1000px;
  right: -260px;
}
.landing .image img:last-child.active {
  top: -120px;
  transition: 1s linear;
}
.landing .image .mobile {
  display: none;
}

@media (max-width: 1300px) {
  .landing .info {
    width: 100%;
  }
  .landing .info h1 {
    font-size: 30px;
  }
  .landing .image img:first-child {
    left: 0;
  }
  .landing .image img:last-child {
    width: 100%;
    right: 0;
  }
}
@media (max-width: 768px) {
  .landing .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .landing .container .info {
    padding: 30px;
    align-items: center;
  }
  .landing .image {
    min-height: 70vh;
    overflow: hidden;
  }
  .landing .image img:last-child {
    top: -225px;
  }
}
@media (max-width: 567px) {
  .landing .info {
    left: -350px;
  }
  .landing .image {
    min-height: 100%;
  }
  .landing .image img:first-child {
    display: none;
  }
  .landing .image .mobile {
    display: flex;
    position: relative;
    right: -400px;
  }
  .landing .image .mobile.active {
    right: 0;
    transition: 1s linear;
  }
  .landing .image img:last-child {
    top: -450px;
  }
  .landing .image img:last-child.active {
    top: -130px;
    transition: 1s linear;
  }
}
.about {
  background-color: var(--Light-Grayish-Blue);
}
.about .container {
  padding: 100px 150px;
}
@media (max-width: 990px) {
  .about .container {
    text-align: center;
    padding: 80px 30px;
  }
}
.about .info {
  width: 620px;
  margin-bottom: 60px;
}
.about .info h1,
article h1 {
  color: var(--Dark-Blue);
  font-size: 35px;
}
.about .info p,
.about .services div p:last-child {
  color: var(--Grayish-Blue);
  line-height: 1.6;
  margin: 0;
}
.about .services,
article .article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}
.about .services div img + p {
  color: var(--Dark-Blue);
  font-size: 22px;
  margin: 40px 0 30px;
}
@media (max-width: 991px) {
  .about .info {
    width: 100%;
  }
}
article .container {
  padding: 80px 150px;
}
@media (max-width: 990px) {
  article .container {
    padding: 80px 30px;
  }
}
article h1 {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  article h1 {
    text-align: center;
  }
}
article .article div {
  background-color: var(--White);
  border-radius: 4px;
  overflow: hidden;
}
article .article div img {
  width: 100%;
  height: 200px;
}
article .article div .info {
  padding: 20px;
}
article .article div .info span {
  color: var(--Grayish-Blue);
  font-size: 12px;
}
article .article div .info a {
  color: var(--Dark-Blue);
  font-size: 20px;
  margin: 15px 0;
  transition: 0.3s linear;
}
article .article div .info a:hover {
  color: hsl(157.45deg 63.05% 48.82%);
}
article .article div .info p:last-child {
  color: var(--Grayish-Blue);
  line-height: 1.6;
  margin: 0;
  font-size: 16px;
}
footer {
  background-color: var(--Dark-Blue);
}
footer .container {
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 255px 200px 200px 1fr;
}
@media (max-width: 991px) {
  footer .container {
    padding: 50px;
    grid-template-columns: auto auto;
    gap: 60px;
  }
}
footer .social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .container {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }
  footer .social {
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
}
footer .social .logo {
  fill: var(--White);
}
footer .social .soicalIcon {
  display: flex;
  gap: 15px;
}
footer .social .soicalIcon a:hover svg path {
  fill: hsl(157.45deg 63.05% 48.82%);
  transition: 0.3s linear;
}
footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .links li a {
  color: var(--White);
  padding: 10px 0;
}
footer .links li a:hover {
  color: hsl(157.45deg 63.05% 48.82%);
  transition: 0.3s linear;
}
footer .request {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 991px) {
  footer .request {
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  footer .request {
    align-items: center;
    margin-top: 30px;
  }
}
footer .request p {
  color: var(--Grayish-Blue);
  margin: 30px 0 0;
}
.attribution {
  color: var(--Very-Light-Gray);
  font-size: 11px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution a {
  color: var(--Lime-Green);
  font-size: 11px;
  font-weight: bold;
}
.overlay {
  background-image: linear-gradient(
    to bottom,
    var(--Dark-Blue),
    var(--Light-Grayish-Blue)
  );
  mix-blend-mode: darken;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  transition: 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
}
